* {
    --font-main: #757575;
    --font-dark: #4d4d4d;
    --border: #a1a1a1;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 50px;
    color: var(--font-main);
}

header {
    margin: 0 0 75px 0;
    text-align: center;
}

h1,
h2 {
    color: var(--font-dark);
}

#search {
    height: 1.75em;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding-left: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    border: 1px solid var(--border);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-top: 20px;
}

.email,
.address,
.phone,
.bday {
    font-size: .75em;
}

.overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(100, 100, 100, .4);
}

.modal {
    margin-top: 25vh;
    width: 320px;
    position: fixed;
    text-align: center;
    background: #fff;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 0;
    color: var(--font-dark);
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (min-width: 720px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media (min-width: 1024px) {
    header {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card h2 {
        margin-bottom: 8px;
    }

    .card {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        height: 160px;
    }

    .avatar {
        margin: 0;
        padding: 15px;
    }
}